* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    margin-left: 35px;
    margin-top: 35px;
}
.hr1{
    margin-top: 20px;
    border: 0.5px solid#d9dddf98;
}

.pl{
    margin-left: 30px;
    font-family: "Epilogue", serif;
    font-size: 13px;
    font-weight: 400;
    color: #545454;
}

.s{
    font-family: "Epilogue", serif;
    margin-left: 110px;
    margin-top: -50px;
    font-weight: 400;
    color: #545454;
   
}

.sp{
    font-family: "Epilogue", serif;
    margin-left: 140px;
    font-size: 13px;
    font-weight: 400;
    margin-top: -50px;
    color: #545454;
   
}
.profile-image{
    margin-left: 1130px;
    margin-top: -100px;

}
.gel{
    font-family: "Epilogue", serif;
   font-size: 14px;
   color: #939393;
   font-weight: 400;
   margin-left: 30px;
   margin-top: 50px;
}
.sidebar {
    width: 200px;  
    height: 100vh;  
    background-color: white; 
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
  }


  .sidebar a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
    font-family: "Epilogue", serif;
    font-weight: 400;
    margin-left: 30px;
    margin-top: 13px;
    border-radius: 4px;
  }

  .sidebar a:hover {
    background-color: #e2e8f0;  
  }

 
  .sidebar a.active {
    background-color:#207B54;  
    color: #fff;
  }

  
  .sidebar a img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }

  .welcome{
    margin-left: 240px;
    margin-top: -600px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    line-height: 50px;
   background-color: #F9F9F9;
   margin-right: 00px;
   padding-bottom: 300px;
   padding-top: 72px;
   border: 0.5px solid#d9dddf98;
   
   
   
  }

  .welcome h1{
    font-weight: 600;
    font-size: 27px;
    margin-left: 410px;
    font-family: "Epilogue", serif;
    padding-top: 50px;
  }


  .welcome h3{
    font-family: "Epilogue", serif;
    margin-top: -10px;
    font-weight: 450;
    font-size: 13px;
  color: #101010;
  margin-left: 450px;
  }

 

.im1{
    margin-right: 00px;
    margin-left: 910px;
    margin-top: -110px;
    padding-bottom: 45px;
    width: 140px;
}

  .hr2{
    margin-top: 20px;
    margin-right: 55px;
    border: 0.5px solid#d9dddf98;
    margin-left: 35px;
  }

  .pro{
    margin-left: -70px;
    margin-top: 20px;
  }


  
.upload-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 550px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 250px;
    margin-bottom: 30px;
   margin-top: 40px;
   font-weight: 500;
}
.suc{
    font-family: "Epilogue", serif;
    display: flex;
    justify-content: center;
}
.sub{
    font-family: "Epilogue", serif;
    display: flex;
    justify-content: center;
    font-weight: 400;
}
.sub1{
    font-family: "Epilogue", serif;
    display: flex;
    justify-content: center;
    font-weight: 400;
    margin-top: -30px;
}

.see{
    margin-left: 150px;
    margin-top: 20px; 
    background-color: #154734;
    border: none;
    color: white;
    padding: 20px;
    font-family: "Epilogue", serif;
    margin-bottom: 20px;
}